<% content_for :sidebar do %>
  <%= render :partial => 'edit_sidebar' %>
<% end %>

<h2>Edit Business</h2>

<%= render :partial => 'form', :locals => {:form_url => business_path(@business)} %>

<%= link_to 'Show', business_path(@business) %> |
<%= link_to 'Back', businesses_path %>