<h3>Businesses</h3>
<ul class="businesses">
  <% @businesses.each do |business| %>
    <li>
      <%= link_to business.name, business_path(business) %>
      <%= link_to content_tag(:i, "", :class => "icon-trash"), business_path(business), :confirm => 'Are you sure you want to delete this item?', :method => 'delete' %>
    </li>
  <% end %>
</ul>

<br />

<%= link_to 'New Business', new_business_path %>