<% if controller.action_name == 'overview' %>
  <li class="pull-right"><%= link_to content_tag(:i, "", :class => "icon-list"), business_memberships_path(@business) %></li>
<% else %>
  <li class="pull-right"><%= link_to content_tag(:i, "", :class => "icon-table"), overview_business_memberships_path(@business) %></li>
<% end %>
<li class="pull-right"><%= link_to content_tag(:i, "", :class => "icon-plus") + "New membership", new_business_membership_path(@business) %></li>