<% if @business.present? && @business.persisted? %>
<ul class="nav nav-pills nav-stacked students">
  <li>
  </li>
  <% @contacts.each do |contact| %>
    <%= sidebar_contact_membership_link(contact, contact.current_membership) %>
  <% end %>
</ul>
<% end %>