<% if @business.present? && @business.persisted? %>
<p>Students:
<ul class="nav nav-pills nav-stacked">
  <% @business.contacts.each do |contact| %>
      <% if contact.membership.present? && contact.membership.persisted? %>
        <% str = contact.name.html_safe + ( content_tag(:i, "", :class => "#{contact.membership.due? ? 'due' : 'overdue'}-membership pull-right icon-fire") + content_tag(:span, contact.membership.try(:ends_on), :class => "pull-right") if contact.membership.due? || contact.membership.overdue? )  %>
        <li class="<%= 'active' if @membership.present? && @membership.persisted? && contact.id == @membership.contact.id %>"><%= link_to str, business_membership_path(@business, contact.membership) %></li>
      <% end %>
  <% end %>
</ul>
</p>
<% end %>