<% if @business.present? && @business.persisted? %>
<ul class="nav nav-pills nav-stacked students">
  <li>
    <div class="btn-group contact-filter-buttons">
  	  <button type="button" class="btn btn-default" id="toggle-students">Students</button>
  	  <button type="button" class="btn btn-default" id="toggle-former-students">Former students</button>
    </div>
  </li>
  <% @contacts.each do |contact| %>
    <%= sidebar_contact_membership_link(contact, @memberships[contact]) %>
  <% end %>
</ul>
<% end %>