<% if @business.present? && @business.persisted? %>
<p>Contacts:
<ul class="nav nav-pills nav-stacked">
  <% @business.contacts.each do |contact| %>
      <% if contact.membership.present? %>
        <li class="<%= 'active' if @membership.present? && contact.id == @membership.contact.id %>"><%= link_to contact.name.html_safe, business_membership_path(@business, contact.membership) %></li>
      <% else %>
          <li><%= link_to contact.name.html_safe + content_tag(:i, "", :class => "pull-right icon-fire", :title => "Assign membership"), new_business_membership_path(@business, :membership => {:contact_id => contact.id}) %></li>
      <% end %>
  <% end %>
</ul>
</p>
<% end %>