<h2>Edit Membership</h2>

<%= render :partial => 'form', :locals => {:form_url => business_membership_url(@business, @membership)} %>

<%= link_to 'Show', business_membership_path(@business, @membership) %> |
<%= link_to 'Back', :back %>