<% content_for :sidebar do %>
  <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
  <li class="pull-right">
    <%= link_to content_tag(:i, "", :class => "icon-plus") + _("Nueva regla"),
                new_business_transaction_rule_path(@business) %>
  </li>
<% end %>