#new_transaction_search {
  .fieldsContainter {
    display: none;
  }
  .chosen-container {
    width: 30% !important;
    .search-field {
      width: 100% !important;
      input {
        width: inherit !important;
      }
    }
  }
}