<p>
<%= _("Volver a ") %>
<%= link_to @installment.membership.contact.name, [@business.becomes(Business),@installment.membership.contact] %> |
<%= link_to @installment.membership.name, [@business.becomes(Business),@installment.membership] %> |
</p>
