<%= simple_form_for(@installment, :url => form_url) do |f| %>
    <%= f.input :due_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>

    <h3>Transactions</h3>
    <%= render :partial => 'transactions/transaction_fields', :locals => {:f => f} %>

    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>