<% content_for :sidebar do %>
<% end %>

<h2><%= t('installments.edit.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_installment_path(@business, @installment)} %>

<p>
<%= link_to _("volver"), business_installment_path(@business, @installment) %>
</p>
<%= render 'footer_navigation' %>
