<% content_for :sidebar do %>
<% end %>

<h2><%= t('installments.edit.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_membership_installment_path(@business, @membership, @installment)} %>

<%= link_to t('actions.show'), business_membership_installment_path(@business, @membership, @installment) %> |
<%= link_to t('actions.back'), :back %>