<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<h2>Edit Installment</h2>

<%= render :partial => 'form', :locals => {:form_url => business_membership_installment_path(@business, @membership, @installment)} %>

<%= link_to 'Show', business_membership_installment_path(@business, @membership, @installment) %> |
<%= link_to 'Back', business_membership_installments_path %>