<% content_for :sidebar do %>
  <%= render :partial => 'search_form' %>
  <a class="btn" id="update-installment-filter"><%= t('update') %></a>
<% end %>

<h3><%= t('installments.index.title') %></h3>

<%= render :partial => 'installments', :locals => {:installments => @installments, :include_contact_column => true} %>