<% content_for :sidebar do %>
  <h3><%= t('installments.index.title') %></h3>
  <%= render :partial => 'search_form' %>
  <a class="btn" id="update-installment-filter"><%= t('update') %></a>
<% end %>

<%= render :partial => 'installments', :locals => {:installments => @installments, :include_contact_column => true} %>