<% content_for :sidebar do %>
<% end %>

<h2><%= t('installments.new.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_membership_installments_path(@business, @membership)}  %>

<%= link_to t('actions.back'), business_memberships_path(@business) %>