<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2>Edit Import</h2>

<%= render :partial => 'form', :locals => {:form_url => business_import_url(@business, @import)} %>
<%= link_to 'Show', business_import_path(@business,@import) %> |
<%= link_to 'Back', business_imports_path(@business) %>