<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Imports</h3>
<ul class="imports">
  <% @imports.each do |import| %>
  	<% unless import.new_record? %>
    <li>
      <%= link_to import.id, business_import_path(@business, import) %>
    </li>
    <% end %>
  <% end %>
</ul>

<br />

<%= link_to 'New Import', new_business_import_path(@business) %>