<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%= t('.new_import') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_imports_url(@business)} %>

<%= link_to t('actions.back'), business_imports_path(@business) %>
