<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%= t("agents.new.#{@business.type.downcase}.title") %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_agents_path(@business)} %>

<%= link_to t('actions.back'), business_agents_path(@business) %>