<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2>Edit Contact</h2>

<%= render :partial => 'form' %>

<%= link_to 'Show', business_contact_path(@business,@contact) %> |
<%= link_to 'Back', business_contacts_path(@business) %>