<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Contact</h3>
<p>Name: <%= @contact.name %></p>

<%= link_to 'Edit', edit_business_contact_path(@business, @contact) %> |
<%= link_to 'Back', business_contacts_path(@business) %>
