# Add application configuration variables here, as shown below.
#
# PUSHER_APP_ID: "2954"
# PUSHER_KEY: 7381a978f7dd7f9a1117
# PUSHER_SECRET: abdc3b896a0ffb85d373
# STRIPE_API_KEY: EdAvEPVEC3LuaTg5Q3z6WbDVqZlcBQ8Z
# STRIPE_PUBLIC_KEY: pk_BRgD57O8fHja9HxduJUszhef6jCyS
app_key: "1234"
accounts_key: "1234"
contacts_key: "1234"
messaging_key: "fnz_key"
messaging_secret: "fnz_secret"
attendance_key: "secret"
MANDRILL_APIKEY: "1234"
MANDRILL_USERNAME: "123"
APPSIGNAL_PUSH_API_KEY: dsadsa
support_email: padma@derosemethod.org