<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Tags</h3>
<ul class="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, business_tag_path(@business, tag) %> <%= link_to content_tag(:i, "", :class => "icon-remove"), business_tag_path(@business, tag), :confirm => 'Are you sure you want to delete this item?', :method => 'delete' %>
    </li>
  <% end %>
</ul>

<br />

<%= link_to 'New Tag', new_business_tag_path(@business) %>