<% content_for :sidebar do %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<h2><%= t('inscriptions.edit.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_inscription_url(@business, @inscription)} %>

<%= link_to t('actions.back'), :back %>