<% Tag::VALID_SYSTEM_NAMES.each do |sys_name| %>
  <% if @adm.send("#{sys_name}s_tag").blank? %>
    <!-- TODO add form to set it here -->
    <div class="alert alert-error">
      <%= content_tag :div, t(".missing_#{sys_name}_tag") %>
    </div>
  <% end %>
<% end %>
