.admpart-value {
  white-space: nowrap;
}
.admpart-value.positive{
  color: green; 
}
.admpart-value.negative{
  color: red; 
}

.droppable-hover {
  background-color: blue;
}

.droppable-active {
  background-color: darkblue;
}

.droppable-section {
  border: 1px;
  background-color: lightgrey;
  padding: 5px;
  height: 100px;
  vertical-align: center;
}

@media print {
  #admpart-team-distribution {
    page-break-after: always;
    page-break-inside: avoid;
  }

  #admpart-total-by-agent {
    page-break-before: always;
    page-break-inside: avoid;
  }

  .no-print {
    display: none !important;
  } 
}
