.admpart-value {
  white-space: nowrap;
}
.admpart-value.positive{
  color: green; 
}
.admpart-value.negative{
  color: red; 
}
.active { /* en barra lateral de navegación */
  .admpart-value.positive {
    color: #79fa79;
  }
  .admpart-value.negative {
    color: #ff9a9a;
  }
}


.droppable-hover {
  background-color: blue;
}

.droppable-active {
  background-color: darkblue;
}

.droppable-section {
  border: 1px;
  background-color: lightgrey;
  padding: 5px;
  height: 100px;
  vertical-align: center;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}
