.calculatorFormula {
  width: 31%;
  text-align: right;
}

.calculatorResult {
  width: 15%;
  text-align: left;
}

.membershipValue .calculatorResult,
.membershipValue .calculatorFormula {
  max-width: 93px;
}

