#update-installment-filter {
    display: none;
}
#installment-search-custom-period-select {
  display: none;
}
.multiple_installments_fields {
  float: right;
}
input#installments_count {
  width: 20px;
  margin-left: 3px;
}