.overdue-membership {
  color: red;
}
.due-membership {
  color: yellow;
}

.memberships tbody td {
  height: 36px;
  width: 63px;
}
.memberships td.current {
  border-left:4px solid #DDDDDD;
  border-right:4px solid #DDDDDD;
}

.memberships td {
  text-align: center;
  vertical-align: middle;
}

.students.nav li {
  height: 43px;
  padding-top: 2.1px;
}

.students.nav li .contact-filter-buttons {
	margin: 0 auto;
	width: 190px;
}

.students.nav li.former_student {
}


.icon-installment-complete:before        { content: "\f00c"; color: green;}
.icon-installment-pending:before        { content: "\f024"; color: yellow;}
.icon-installment-overdue:before         { content: "\f071"; color: red;}


.table.memberships tr.former_student {
}

//.memberships thead tr:first-child td.current {
//  border-top:2px solid #DDDDDD;
//}
//.memberships tbody tr:last-child td.current {
//  border-bottom:2px solid #DDDDDD;
//}