.overdue-membership {
  color: #d9534f;
}
.due-membership {
  color: #f0ad4e;
}

.label-complete {
  background-color: #5cb85c;
}

.label-due {
	background-color: #f0ad4e;
}

.label-overdue {
	background-color: #d9534f;
}

.memberships tbody td {
  height: 36px;
  width: 63px;
}
.memberships td.current {
  border-left:4px solid #DDDDDD;
  border-right:4px solid #DDDDDD;
}

.memberships td {
  text-align: center;
  vertical-align: middle;
}

.students.nav li {
  height: 43px;
  padding-top: 2.1px;
}

.students.nav li .contact-filter-buttons {
	margin: 0 auto;
	width: 190px;
}

.students.nav li.former_student {
}


.icon-installment-complete:before        { content: "\f00c"; color: green;}
.icon-installment-pending:before        { content: "\f024"; color: yellow;}
.icon-installment-overdue:before         { content: "\f071"; color: red;}


.table.memberships tr.former_student {
}

.table.memberships tr.contact-hover {
	background-color: whitesmoke;
}

.students.nav li a.contact-hover {
	background-color: whitesmoke;
}

.installments.table thead td {
	text-align: center;
}

.installments.table td.amount, .installments.table td.status {
	text-align: center;
}

.memberships.table td:hover .installment-value {
	display:none;
}


.memberships.table td .action-link {
	display: none;
}

.memberships.table td:hover .action-link {
	display: block;
}