#custom-period-select {
  display: none;
}

#update-filter {
  display: none;
}

table#memberships tr:not(:first-child) {
  cursor: pointer;
}

.overdue-membership {
  color: #d9534f;
}
.due-membership {
  color: #f0ad4e;
}

.label-complete {
  background-color: #5cb85c;
}

.label-due {
	background-color: #f0ad4e;
}

.label-overdue {
	background-color: #d9534f;
}

.memberships tbody td {
  height: 36px;
  width: 63px;
}
.memberships td.current {
  border-left:4px solid #DDDDDD;
  border-right:4px solid #DDDDDD;
}

.memberships td {
  text-align: center;
  vertical-align: middle;
}

table.memberships .cell .installment-observations {
  display: none;
}
table.memberships .cell:hover .installment-observations {
  display: block;
}

.students.nav li {
  height: 43px;
  padding-top: 2.1px;
}

.students.nav li .contact-filter-buttons {
	margin: 0 auto;
	width: 190px;
}

.students.nav li.former_student {
}


.icon-installment-complete:before        { content: "\f00c"; color: green;}
.icon-installment-pending:before        { content: "\f024"; color: yellow;}
.icon-installment-overdue:before         { content: "\f071"; color: red;}


.table.memberships tr.former_student {
}

.table.memberships tr.contact-hover {
	background-color: whitesmoke;
}

.students.nav li a.contact-hover {
	background-color: whitesmoke;
}

.installments.table thead td {
	text-align: center;
}

.installments.table td.amount, .installments.table td.status {
	text-align: center;
}

.memberships.table .installment-value {
	font-size: 11px;
	.projection, .old {
		color: gray;
	}
}

.membership-stats.table thead tr th, .membership-stats.table tbody tr td {
	text-align: center;
}

.membership-filter .control-group {
	display: inline-block;
	margin-left: 10px;
}

.membership-filter .form-actions {
	text-align: right;
}

.memberships.table.list-mode thead tr {
  height: 44px;
}
.memberships.table.list-mode thead tr th {
  vertical-align: middle;
  text-align: center;
}	

#list-transactions-modal form {
  margin: 0;
}

.popover.right {
  margin-left: -5px !important;
}
.popover-action-list {
  list-style: none;
  margin: 0;

  li {
    margin: 5px 0;
  }
}
