#nav-businesses {
  clear: both;
}

#nav-businesses .active {
  top: 3px;
  position: relative;
}

#nav-businesses .active{
  background: #FFF;
  padding-top:6px;
  padding-bottom:15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  color: #999;
}

#nav-businesses .action {
  font-size: 19px;
}
#nav-businesses .action a {
  padding-bottom: 6px;
  padding-top: 11px;
}