#nav-businesses {
  clear: both;
}

#nav-businesses .active {
  top: 3px;
  position: relative;
}

#nav-businesses .active a{
  padding-top:7px;
  padding-bottom: 13px;
  background: #FFF;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  color: #999;
}

.nav i {
  font-size: 19px;
}
#nav-businesses .action a {
  padding-bottom: 6px;
  padding-top: 11px;
}

.nav i {
  margin-right: 5px;
}

h2.title {
  display:inline-block;
  vertical-align: sub;
}