@media print {
  header.navbar, #secondary-navigation, .hide-in-print {
    display: none;
  }

  a:after {
    display: none !important;
  }

  #admpart-date-select {
    display: none;
  }

  #admpart {
    margin-top: -100px;
    position: absolute;
  }
}
