// Place all the styles related to the receipts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admpart-value.positive{
  color: green;
}
.admpart-value.negative{
  color: red;
}

#receipt-container {
  background-color: rgba(75, 64, 64, 0.09);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 96vw;
  height: 80vh;
  #receipt-header {
    @media print {
      display: none;
    }
    background-color: #040e85;
    color: #FFFFFF;

    #logo {
      max-width: 200px;
      margin: 20px;
    }
  }
  #receipt-body {

    .share-to-whatsapp {
      @media print {
        display: none;
      }
      position: relative;
      bottom: 10px;
    }
  }
}


