.recurrent-transactions {
  .type-column {
    max-width: 150px;
    .select {
      max-width: 130px;
    }
  }
  .state-column {
    max-width: 120px;
    .select {
      max-width: 100px;
    }
  }
  .accounts-column {
    max-width: 150px;
    .select {
      max-width: 130px;
    }
  }
  .tag-column {
    max-width: 150px;
    .select {
      max-width: 130px;
    }
  }
  .amount-column {
    max-width: 150px;
    input {
      max-width: 130px;
    }
  }


}