.account_balance_dirty {
  margin-right: 1em !important;
}

.account_balance_checked {
  font-size: 0.8em !important;
  margin-left: -4px;
  color: green;
}

#drive-icon {
  height: 1.3em;
}

#transactionsFilter {
  width: 80%;
}

#datelessSearch {
  float: right;
  margin-top: 8px;
}

#filterContainer {
  padding-right: 7px;
}

.transactions.table .select2-container {
  width: 100% !important;
}

.transactions.table td .tag-detail {
  display: none;
}
.transactions.table td:hover .tag-detail {
  display: inline;
}
.transactions.table td .contact-detail {
  display: none;
}
.transactions.table td:hover .contact-detail {
  display: inline;
}

.keep-line {
  white-space: nowrap;
}

#new_transaction {
  margin: 0;
}

#list-transactions-modal {
  width: 900px;
  left:37%;
}

.icon-transfer:before        { content: "\f021"; }
.icon-credit:before          { content: "\f060"; color: green;}
.icon-debit:before           { content: "\f061"; color: red;}

.icon-created:before        { content: " "; }
.icon-pending:before        { content: "\f024"; }
.icon-reconciled:before     { content: "\f00c"; }

.btn-top-icon i {
  display: block;
  margin: 5px auto;
  font-size: 1.5em;
}

.actions .btn i {
  font-size: 1.5em;
  margin-right: 5px;
}

#transaction-stats-modal .modal-body {
  height: 400px;
}

#transaction-stats-modal {
  width: 650px;
  left: 45%
}

#transaction_tag_ids_chosen {
  width: 220px !important;
}

#partial_balance {
  background-color: #eee;
}

#tagSummary {
  margin-bottom: 20px;
}

#tagSummary .current_date {
  font-size: 1.3em;
  font-weight: bold;
}

// no deberia ser necesario pero en update a rails 4.2 se desordenó algo del css del datepicker
.daterangepicker {
  display: none;
}

.transactionFields {
  #transaction_report_at_2i { // month
    max-width: 32%;
  }
  #transaction_report_at_1i { // year
    max-width: 17%;
  }
}