#drive-icon {
  height: 1.3em;
}

#transactionsFilter {
  width: 100%;
}

#filterContainer {
  padding-right: 7px;
}

.transactions.table .select2-container {
  width: 100% !important;
}

.keep-line {
  white-space: nowrap;
}

#new_transaction {
  margin: 0;
}

#list-transactions-modal {
  width: 900px;
  left:37%;
}

.icon-transfer:before        { content: "\f021"; }
.icon-credit:before          { content: "\f060"; color: green;}
.icon-debit:before           { content: "\f061"; color: red;}

.icon-created:before        { content: " "; }
.icon-pending:before        { content: "\f024"; }
.icon-reconciled:before     { content: "\f00c"; }

.btn-top-icon i {
  display: block;
  margin: 5px auto;
  font-size: 1.5em;
}

.actions .btn i {
  font-size: 1.5em;
  margin-right: 5px;
}

#transaction-stats-modal .modal-body {
  height: 400px;
}

#transaction-stats-modal {
  width: 650px;
  left: 45%
}

#transaction_tag_ids_chosen {
  width: 220px !important;
}
