<div id="quickForm">
<%= simple_form_for(@transaction,
                    as: :transaction,
                    url: form_url,
                    validate: true,
                    html: {
                      class: "transactionFields",
                      data: {
                        controller: "transaction-form",
                        "transaction-form-rates-url": get_rate_business_month_exchange_rates_path(@business)
                      }
                    }
    ) do |f| %>
    <div id="colorSignal" data-target="transaction-form.colorSignal"></div>
      <input type="hidden" name="quick" value="1"></input>

      <%= render partial: 'fields', locals: {:f => f} %>

      <%= f.button :submit, t("actions.create"), class: "btn btn-primary" %>
<% end %>
</div>
