<% if can? :create, @business.transactions.build %>
  <li class="pull-right">
    <%= link_to content_tag(:i, "", :class => "icon-plus") + I18n.t('transactions.secondary_navigation.add_transaction'),
                new_business_transaction_path(@business, transaction: { source_id: @account.try(:id) }),
                :remote => true %>
  </li>
<% end %>
