<% if can? :create, @business.trans.build %>
  <% transaction_params = {}
     if @account
       transaction_params.merge!({source_id: @account.id})
     end
     if @contact
       transaction_params.merge!({contact_id: @contact.id})
     end
     if params[:admpart_tag_id]
       transaction_params.merge!({tag_ids: [params[:admpart_tag_id]]})
       if params[:report_on]
         transaction_params.merge!({report_at: params[:report_on]})
       end
     end
  %>
  <li class="pull-right" data-controller="wait-for-js">
    <%= link_to content_tag(:i, "", :class => "icon-plus") + I18n.t('transactions.secondary_navigation.add_transaction'),
                new_business_transaction_path(@business, transaction: transaction_params ),
                data: {
                  target: "wait-for-js.hideElement"
                },
                style: "display: none",
                :remote => true %>
  </li>
  <li class="pull-right" data-toggle="tooltip" title="<%= _("copiá este link y guardalo en tu celu para agregar fácilmente movimientos.") %>">
    <%= link_to content_tag(:i, "", class: "icon-bolt"),
                new_business_transaction_path(@business,
                                              transaction: transaction_params,
                                              quick: 1)
    %>
  </li>
<% end %>
