<div class="items">
  <%= f.nested_fields_for :transactions do |transaction_f| %>

      <%= render :partial => 'transactions/fields', :locals => {:f => transaction_f} %>

      <a href="#" class="remove">remove</a>
      <%= transaction_f.hidden_field :id %>
      <%= transaction_f.hidden_field :_destroy %>
  <% end %>
</div>
<div><a href="#" class="add">add transaction</a></div>