<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>


<h3>Transactions</h3>
<%= render :partial => 'transactions', :locals => {:transactions => @transactions} %>