<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>


<h2><%= _("Registrar transacción") %></h2>

<%= render partial: 'form',
          locals: {form_url: business_transactions_path(@business)} %>
