<table class="transactions table table-striped table-hover table-condensed table-bordered">
  <%= render :partial => 'transactions_table_header' %>

  <% transactions.each do |transaction| %>
    <tr data-id="<%= transaction.id %>">
      <%= render :partial => 'transactions_table_item', :locals => {:transaction => transaction} %>
      <td>
        <%= yield transaction %>
      </td>
    </tr>
  <% end %>
</table>