<h1><%= page_title "#{t(".receipt")}##{@receipt.id}" %></h1>
<h2><%= pm @receipt.amount, unit: @receipt.currency.symbol  %></h2>
<h3><%= l(@receipt.ref_date) %></h3>
<p>
  <%= @receipt.description %>
</p>