<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<h2>Edit Sale</h2>

<%= render :partial => 'form', :locals => {:form_url => business_sale_path(@business, @sale)} %>

<%= link_to 'Show', business_sale_path(@business, @sale) %> |
<%= link_to 'Back', :back %>