<h3>Sales</h3>
<ul class="sales">
  <% @sales.each do |sale| %>
    <li>
      <%= link_to sale.id, business_sale_path(@business, sale) %>
    </li>
  <% end %>
</ul>

<br />

<%= link_to 'New sale', new_business_sale_path(@business) %>