<% if @business.present? && @business.persisted? %>
<p>Accounts (<%= link_to 'manage', business_accounts_path(@business) %>):
<ul>
  <% @business.accounts.each do |account| %>
      <li><%= link_to account.name, business_account_path(@business, account) %>  <%= number_to_currency(account.balance, :unit => account.currency.symbol) %></li>
  <% end %>
</ul>
</p>
<% end %>