<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2>Edit Account</h2>

<%= render :partial => 'form', :locals => {:form_url => business_accounts_path(@business)} %>

<%= link_to 'Back', business_accounts_path(@business) %>